{% extends 'Autenticacion/base.html' %}
{% load static %}
{% block content %}
    <div class="container" >
        <div class="row">
        <div class="col-6 text-center">
            <h4 class="h4" style="color: cornsilk;">Agregar equipo</h4>
            {% if 'novalido' in request.GET %}
                <div class="alert alert-danger">A ocurrido un problema intenta de nuevo</div>
            {% endif %}
            <form action="" method="POST" style="text-align: center; margin-top: 10px;">{% csrf_token %}
            <table style="color: cornsilk; position: relative; margin: 40px auto;" >
                {{formulario.as_table}}
            </table>
            <button type="submit" class="btn btn-outline-info" style=" border-color: #11c9cf !important;">Enviar</button>
        </div>
    </div>
    </div>
    
    
{% endblock  %}