{% extends 'Autenticacion/base.html' %}
{% load static %}
{% block content %}
<a href="{% url 'agregar_equipo' %}" class="btn-flotante">Agregar</a>
    <div class="container-fluid">
        <div class="row" style="margin-bottom:150px; ">
            {% for equipo in equipos %}
            <a href="{% url 'archivo' equipo.id %}">
            <div class="col-auto" style="margin-top: 2rem;">
                <div class="card" style="width: 18rem; background-color: rgb(8, 60, 94);color: cornsilk;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title h5">
                            {{equipo.nombre|upper}}
                        </h5>
                        {% for integrant in equipo.integrante.all %}
                            <p class="card-content">{{integrant.nombre}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div></a>
            {% endfor %}
        </div>
    </div>
{% endblock  %}